<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- Log4j Configuration file to log the messages into different logfiles -->
<log4j:configuration>

    <appender name="DEBUG" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./log/Debug.txt"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="500KB"/>
        <param name="MaxBackupIndex" value="2"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %p - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="DEBUG" />
        </filter>
    </appender>

    <appender name="INFO" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %p - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="INFO" />
        </filter>
    </appender>

    <appender name="ERROR" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./log/logs.txt"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="5MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="ERROR" />
        </filter>
    </appender>
<!--    <appender name="console" class="org.apache.log4j.ConsoleAppender">-->
<!--        <param name="Target" value="System.out" />-->
<!--        <layout class="org.apache.log4j.PatternLayout">-->
<!--            <param name="ConversionPattern" value="%-5p %c{1} - %m%n" />-->
<!--        </layout>-->
<!--        <filter class="org.apache.log4j.varia.LevelRangeFilter" >-->
<!--            <param name="LevelMin" value="INFO" />-->
<!--            <param name="LevelMax" value="INFO" />-->
<!--        </filter>-->
<!--    </appender>-->

<!--    <appender name="FATEL" class="org.apache.log4j.RollingFileAppender">-->
<!--        <param name="File" value="D:/logs/FATELFILE.log"/>-->
<!--        <param name="Append" value="true"/>-->
<!--        <param name="MaxFileSize" value="500KB"/>-->
<!--        <param name="MaxBackupIndex" value="2"/>-->
<!--        <layout class="org.apache.log4j.PatternLayout">-->
<!--            <param name="ConversionPattern" value="%d [%t] %p - %m%n"/>-->
<!--        </layout>-->
<!--        <filter class="org.apache.log4j.varia.LevelRangeFilter">-->
<!--            <param name="LevelMin" value="FATAL" />-->
<!--            <param name="LevelMax" value="FATAL" />-->
<!--        </filter>-->
<!--    </appender>-->

    <root>
        <priority value="debug"/>
        <appender-ref ref="DEBUG"/>
        <appender-ref ref="INFO"/>
        <appender-ref ref="ERROR"/>
<!--        <appender-ref ref="FATEL"/>-->
    </root>

</log4j:configuration>